<button (click)="toggleCreateUserForm()" class="bg-blue-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-blue-600 mb-4">Crear Usuario</button>
<br>
<button (click)="toggleUserList()" class="bg-green-500 text-white px-4 py-2 rounded-md shadow-sm hover:bg-green-600 mb-4">Mostrar/Ocultar Lista de Usuarios</button>
<div *ngIf="showCreateUserForm">
  <app-create-user-page (userCreated)="onUserCreated($event)"></app-create-user-page>
</div>
<div *ngIf="showUserList">
  <app-user-list-page></app-user-list-page>
</div>
